.cards {
  /*  */
}

.card__list {
  display: grid;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url("../images/like-button-inactive.svg") center no-repeat;
  width: 21px;
  height: 18px;

}