.page {
  background-color: black;
  color: white;
  display: flex;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

.page__content {
  margin-left: 200px;
  margin-right: 200px;
  max-width: 1200px;
}